.reset-password-container {
    display: flex;
}

.reset-password-container form {
    width: 100%;
    display: grid;
    gap: 12px;
}

.reset-password-container h1 {
    text-align: left;
}

.reset-password-container form>div {
    display: grid;
    gap: 24px;
}


.reset-password-img-container,
.reset-password-img-container>div {
    width: 100%;
}

.reset-password-img-container {
    display: grid;
    place-content: center;
    position: relative;
}

.wallpaper-reset-password {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('/src/assets/images/wallpaper-reset-password.png');
    z-index: 5;
}

.reset-password-img-container>div {
    padding-left: 68px;
    top: -108px;
    left: 0px;
    border-radius: 7px;
}

.reset-password-img-container img {
    width: 100%;
    max-width: 440px;
    height: auto;
    position: relative;
    z-index: 10;
}



@media screen and (max-width: 992px) {

    .reset-password-img-container {
        display: none;
    }
}